body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 45pt 1fr;
    column-gap: 20pt;
    font-family: "Source Serif 4";
    color: #121212;
    font-size: 10.5pt;
}

body > :first-child {
    grid-column: 1 / -1;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style: none;
}

li {
    --li-height: 20pt;
    display: flex;
    position: relative;
    padding-left: 13pt;
    line-height: var(--li-height);
    min-height: var(--li-height);
}

h1 {
    font-size: 30pt;
    text-align: center;
    color: #CD3438;
    letter-spacing: 3pt;
}

h2 {
    font-size: inherit;
    text-transform: uppercase;
    text-align: center;
    line-height: 25pt;
    color: #401011;
    background-color: #EBAFB0;
    margin-bottom: 2pt;
}

li::before {
    content: "□";
    position: absolute;
    font-size: 16pt;
    left: 0;
    top: -1pt;
}

.blank-line::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - 15pt);
    border-bottom: 1pt solid;
}
