# Ignore absolutely everything by default
*

# Do not ignore folders, otherwise Git can't look inside them for your files
!*/

# Keep your specific code and project files
!*.py
!*.cs
!*.csproj
!*.sh
!*.json

# Keep the .gitignore file itself so GitHub remembers these rules
!.gitignore
