*

!*/

[Bb]in/
[Oo]bj/
lua_modules/
**/venv/
[Aa]rchive/
tools/
/TemplatePrintable/output/*.html

!*.py
!*.cs
!*.csproj
!*.sh
!*.lua
!*.tl
!*.txt
!*.json
!*.html
!*.css
!*.db

!.gitignore
!.gitattributes

