body {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #d67096;
    text-transform: uppercase;
    letter-spacing: 2pt;
    padding-bottom: 5pt;
    font-size: 30pt;
    font-weight: 900;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5pt;
    font-size: 8pt;
    flex: 1;
    border: 1pt solid;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 5pt;
}

section {
}

h2 {
    display: flex;
    align-items: center; 
    background-color: #d67096;
    font-weight: bold;
    font-size: 10pt;
    height: 20pt;
    text-transform: uppercase;
}

h2::before { 
    content: "QTY";
    display: inline-block;
    padding: 0 10pt 0 4pt;
}

.item {
    display: flex;
    align-items: center;
    padding: 3pt 0;
}

.checkbox {
    width: 8pt;
    height: 8pt;
    border: 1pt solid;
    margin-right: 5pt;
}

.qty-line {
    width: 25pt;
    border-bottom: 1pt solid;
    margin-right: 10pt;
    padding-left: 10pt;
    height: 8pt;
}

.label {
    flex-grow: 1;
}

.sub-header {
    background-color: #eee;
    font-weight: bold;
    text-align: center;
    padding: 2pt;
    margin-top: 2pt;
}
