* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #121212;
}

html {
    height: 100%;
    padding: 36pt 50.4pt;
}

body {
    height: 100%;
    font-family: Inter;
    font-size: 10pt;
}

h1 {
    text-align: center;
}

main {
}

.column {
}

section {
}

.section-title {
}

.section-subtitle {
}

.item {
}
