h1 {
    background-color: lightblue;
}

body {
    display: flex;
    flex-direction: column;    
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5pt;
    flex: 1;
}

.column {
    display: grid;
    gap: 5pt;
}

section {
    border: 1pt solid;
    flex: 1;
}
