body {
    display: flex;
    flex-direction: column;
}

h1 {
    color: #202020;
    letter-spacing: 2pt;
    font-size: 25pt;
    border-bottom: 1.5pt solid;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 5pt;
    padding-top: 5pt;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1.5pt solid;
    border-radius: 10pt;
    padding: 3pt;
}

.left {
    background-color: #E8F5E9;
    color: #2A7F2A;
}

.middle {
    background-color: #FFFDE7;
    color: #795901;
}

.right {
    background-color: #FFEBEE;
    color: #B22222;
}

h2 {
    font-weight: bold;
    font-size: 20pt;
    border-bottom: 1.5pt solid;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 3pt;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 4pt;
}

li {
    color: #121212;
    position: relative;
    flex: 1;
    padding-left: 13pt;
    font-weight: bold;
    font-size: 10.5pt;
}

li::before {
    content: "●";
    position: absolute;
    font-size: 6pt;
    left: 3pt;
    top: 4pt;
}
