body {
    font-size: 13pt;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2pt;
}

h1 {
/*    color: #6A2C70;*/
    color: #2F5D8A;
    font-size: 30pt;
    font-weight: 900;
    margin-bottom: 5pt;
}

h2 {
    font-size: 14pt;
    flex: 0 0 20pt;
    border-top: 1.5pt solid;
    align-content: center;
} 

h3 {
    font-size: inherit;
    background-color: white;
    border-top: 1.5pt solid;
    border-bottom: 1.5pt solid;
}

header {
    border: 1.5pt solid;
    text-align: left;
    padding-left: 10pt;
    line-height: 25pt;
    background-color: #EAEDE5;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex: 1;
    gap: 12pt;
    padding-top: 10pt;
}

.column {
    height: inherit;
    display: flex;
    flex-direction: column;
    border-bottom: 1.5pt solid;
}

.day-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5pt;
    border-left: 1.5pt solid;
    border-right: 1.5pt solid;
    flex: 1;
}

.sub-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-left: 1.5pt solid;
    border-right: 1.5pt solid;
    flex: 1;
}

.sub-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5pt;
}

.sub-col:first-child {
    border-right: 1.5pt solid;
} 

.meal-row {
    padding-left: 8pt;
    text-align: left;
}

.shopping-row {
    color: white;
    padding-left: 4pt;
    -webkit-text-stroke: 1pt #121212;
    text-align: left;
    font-size: 10pt;
}

.dotted-line {
    margin-left: 4.0pt;
    letter-spacing: 6pt;
    font-size: 1.5pt;
}

.bg-sunday { background-color: #E1EAF2; }
.bg-monday { background-color: #C4DBC4; }
.bg-tuesday { background-color: #FBE3C4; }
.bg-wednesday { background-color: #FCC7D0; }
.bg-thursday { background-color: #FAD8C5; }
.bg-friday { background-color: #E4D0E5; }
.bg-saturday { background-color: #FDC7CF; }

.category-dairy { background-color: #FCC7CF; }
.category-produce { background-color: #F7E0BD; }
.category-grains { background-color: #DDEFF6; }
.category-meat { background-color: #C4DBC4; }
.category-frozen { background-color: #FAD8C5; }
.category-misc { background-color: #E3CFE4; }
