@page {
    size: {{SIZE}};
    margin: {{MARGIN}};
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    #outline: 1.5pt solid red;
}

html,
body {
    //border: 2pt solid blue;
    font-family: "Inter", serif;
    height: 100%;
    color: #121212;
}

h1 {
    line-height: 36pt;
    text-align: center;
    color: #2D5A4C;
    text-transform: uppercase;
    letter-spacing: 3pt;
    font-size: 30pt;
    font-weight: 900;
}

.container {
    display: flex;
    gap: 8pt;
    height: {{CONTAINER_HEIGHT}};
    //border: 2pt solid red;
    border-top: 1.5pt solid #2D5A4C;
    padding-top: 5.25pt;
}

.category {
    height: 100%;
    flex: 1;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

h2 {
    text-transform: uppercase;
    line-height: {{LINE_HEIGHT}};
    font-weight: bold;
    text-align: center;
    font-size: 10pt;
    border-bottom: 0.8pt solid #121212;
}

ul {
    list-style: none;
    padding-top: 4pt;
}

li {
    position: relative;
    padding-left: 13pt;
    font-size: 09pt;
    line-height: {{LINE_HEIGHT}};
}

li::before {
    content: "";
    position: absolute;
    left: 0;
    top: {{BULLET_OFFSET}};
    width: 8pt;
    height: 8pt;
    border: 0.8pt solid #121212;
}

li.blank-line::after {
    content: "";
    position: absolute;
    left: 8pt;
    bottom: 0;
    width: 80%;
    border: 0.25pt solid #121212;
}
