        
            /* PDF Page Setup for WeasyPrint */
            @page {
                size: a4;
                margin: 0;
            }

            * {
                #outline: 1.5pt solid red;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            html,
            body {
                font-family: 'Liberation Sans', sans-serif;
                color: #333;
                line-height: 1.3;
                height: 100%;
            }

            .container {
                width: 100%;
                height: 100%;
                position: relative;
            }

            header {
                position: absolute;
                top: 0;
                left: 0;
                width: 612pt;
                height: 117pt;
                background-color: #e8f5e9;
            }

            h1 {
                position: absolute;
                top: 36pt;
                left: 62pt;
                font-family: "Archivo Black", sans-serif;
                color: #1a5d3b;
                font-size: 33pt;
                text-transform: uppercase;
                font-weight: bold;
                line-height: 1;
                letter-spacing: 2.25pt;
            }

            h2 {
                position: absolute;
                top: 36pt;
                left: 302pt;
                color: #1a5d3b;
                font-size: 33pt;
                text-transform: uppercase;
                font-style: italic;
                line-height: 1;
                letter-spacing: 2.25pt;
                padding-left: 6pt;
            }

            .goal-box i,
            .note-box i {
                color: #333;
            }

            .goal-box,
            .note-box {
                font-weight: bold;
                color: #1a5d3b;
                font-size: 10pt;
            }

            .goal-box,
            .note-box {
                top: 73pt;
                height: 40pt;
            }

            .goal-box {
                position: absolute;
                left: 36pt;
                width: 250.25pt;
            }

            .note-box {
                position: absolute;
                left: 306pt;
                width: 258pt;
            }

            .content {
                position: absolute;
                top: 117pt;
                left: 0;
                width: 595.5pt;
            }

            .col-left {
                position: absolute;
                top: 0;
                left: 0;
                width: 297.5pt;
                background-color: #e8f5e9;
            }

            .col-right {
                position: absolute;
                top: 0;
                left: 297.5pt;
                width: 297.5pt;
                background-color: #fce4ec;
                border-left: 1.5pt solid #333;
            }

            .col-header {
                padding: 3.5pt;
                text-align: center;
                font-size: 18pt;
                font-weight: bold;
                color: white;
            }

            .col-left .col-header {
                background-color: #388e3c;
            }

            .col-right .col-header {
                background-color: #d32f2f;
            }

            .sections-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 694.45pt;
                padding-bottom: 36pt;
            }

            .sections-container section {
                position: relative;
                width: 100%;
            }

            .label,
            .food-list,
            .why-box,
            .tip-box {
                padding-left: 36pt;
                padding-right: 48pt;
            }

            h3 {
                text-align: center;
                font-size: 12pt;
                background-color: #fff;
                text-transform: uppercase;
                border-bottom: 1.125pt solid #ccc;
                padding: 2pt 0;
                padding-right: 26.25pt;
                padding-left: 18.75pt;
            }

            .label {
                text-transform: uppercase;
                font-weight: bold;
                display: block;
                margin-top: 3.5pt;
            }

            .col-left .label {
                color: #2e7d32;
            }

            .col-right .label {
                color: #c62828;
            }

            .food-list {
                font-weight: bold;
                text-transform: uppercase;
                font-size: 11.25pt;
                margin-top: 3.5pt;
            }

            .why-box {
                font-style: italic;
                font-size: 10.875pt;
                margin-top: 7pt;
            }

            .tip-box {
                font-size: 10.875pt;
                margin-top: 7pt;
            }

            .tip-box b {
                color: #388e3c;
            }
        
