    
        @page {
            size: A4;
            margin: 0;
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            #outline: 1.5px solid red;
        }

        html, body {
            top: 1pt;
            left: 1pt;
            width: 594pt;
            height: 840pt;
            font-family: "Liberation Sans", sans-serif;
            position: relative;
            background-color: white;
        }

        h1 {
            position: absolute;
            top: 36pt;
            width: 100%;
            text-align: center;
            font-size: 29pt;
            font-weight: bold;
            color: #1351d8;
            letter-spacing: 1pt;
            text-transform: uppercase;
        }

        .column {
            position: absolute;
            top: 80pt;
            width: 165pt;
            height: 760pt;
            padding-bottom: 36pt;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .col-1 { left: 36pt; }
        .col-2 { left: 214pt; }
        .col-3 { right: 36pt; }

        .section {
            position: relative;
            width: 100%;
        }

        h2 {
            font-size: 13.5pt;
            margin-bottom: 6pt;
            letter-spacing: 1pt;
            color: #000;
        }

        .item {
            position: relative;
            height: 13pt;
            font-size: 11pt;
            line-height: 13pt;
            letter-spacing: 0.3pt;
            margin-top: 5pt;
            padding-left: 15pt;
            color: #000;
        }

        .checkbox {
            position: absolute;
            left: 0;
            top: 1.5pt;
            width: 10.5pt;
            height: 10.5pt;
            border: 1.5pt solid #000;
            border-radius: 2pt;
            background: #fff;
        }


    
