    
        @page {
            size: letter;
            margin: 0;
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: "Liberation Sans", sans-serif;
            #outline: 1.5pt solid red;
        }

        html, body {
            width: 610pt;
            height: 790pt;
            position: relative;
            background-color: #ffffff;
            top: 1pt;
            left: 1pt;
        }

        h1 {
            position: absolute;
            top: 36pt;
            width: 100%;
            text-align: center;
            font-size: 36pt;
            font-weight: bold;
            color: #2E5A88;
            letter-spacing: 2pt;
            text-transform: uppercase;
        }

        /* Category Styling */
        .category {
            position: relative;
            width: 100%;
        }

        h2 {
            font-size: 14pt;
            font-style: italic;
            font-weight: bold;
            margin-bottom: 4pt;
            border-bottom: 1pt solid #000;
            padding-bottom: 2pt;
            text-align: center;
        }

        .line {
            width: 100%;
            height: 12.8pt;
            position: relative;
        }

        .line::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 116pt;
            border-bottom: 0.5pt solid #000;
        }

        .checkbox {
            position: absolute;
            left: 0;
            top: 4pt;
            width: 7pt;
            height: 7pt;
            border: 1pt solid #000;
            border-radius: 50%;
        }

        .column {
            display: flex;
            position: absolute;
            top: 82pt;
            width: 128pt;
            height: 706pt;
            padding-bottom: 36pt;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }        

        .col-1 { left: 36pt; }
        .col-2 { left: 172.5pt; }
        .col-3 { left: 309.3pt; }
        .col-4 { right: 36pt; }

        .icon {
            position: absolute;
            right: 5pt;
            bottom: 5pt;
            font-size: 24pt;
            z-index: 10;
        }

    
