        
            @page {
                size: A4;
                margin: 0.5in;
            }

            html,
            body,
            div,
            ul,
            li,
            h1,
            h2,
            span {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                #outline: 1.5pt solid red;
            }

            html,
            body {
                font-family: "Liberation Sans", sans-serif;
                line-height: 1.2;
                height: 100%;
                width: 100%;
            }

            h1 {
                font-size: 30pt;
                text-transform: uppercase;
                letter-spacing: 2pt;
                margin-bottom: 4pt;
                text-align: center;
                color: #145A32;
            }

            .columns {
                height: 727pt;
                width: 100%;
            }

            .column {
                float: left;
                vertical-align: top;
                width: 20%;
                height: 100%;
                font-size: 9.6pt;
                padding-right: 2pt;
            }

            .column-inner {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }

            h2 {
                font-size: 11pt;
                text-transform: uppercase;
                font-weight: bold;
                margin-bottom: 4pt;
                color: #1F8A5B;
            }

            .items {
                list-style: none;
            }

            .item {
                position: relative;
                margin-bottom: 0.6pt;
            }

            .item::before {
                content: "";
                position: absolute;
                left: 0;
                top: 2pt;
                width: 8pt;
                height: 8pt;
                border: 0.8pt solid #000;
            }

            .item-text {
                display: inline;
                padding-left: 12pt;
            }
        
