body {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #d67096;
    text-transform: uppercase;
    letter-spacing: 2pt;
    padding-bottom: 5pt;
    font-size: 30pt;
    font-weight: 900;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5pt;
    flex: 1;
    font-size: 11.2pt;
//    border: 1pt solid;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20pt;
//    justify-content: space-between;
}

section {
}

h2 {
    display: flex;
    align-items: center; 
    background-color: #d67096;
    color: white;
    font-weight: bold;
    height: 20pt;
    font-size: inherit;
    text-transform: uppercase;
}

h2::before { 
    content: "QTY";
    display: inline-block;
    align-content: center;
    padding: 0 4pt 0 18pt;
    margin-right: 5pt;
    height: 100%;
    border-right: 1pt solid white;
}

.item {
    display: flex;
    align-items: center;
    padding: 3pt 0;
}

.checkbox {
    width: 10pt;
    height: 10pt;
    border: 1pt solid;
    margin-right: 3pt;
}

.qty-line {
    border-bottom: 1pt solid;
    width: 30pt;
    height: 8pt;
}

.label {
    flex: 1;
    padding-left: 5pt;
}

.sub-header {
    background-color: #E0E0E0;
    font-weight: bold;
    text-align: center;
    padding: 2pt;
    margin-top: 6pt;
}
