body {
    font-size: 10pt;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5pt;
}

header {
    display: flex;
    margin-top: 10pt;
}

h1 {
    flex: 6;
    font-size: 30pt;
    font-weight: 900;
    align-content: center;
    color: #0935AD;
}

.date-box {
    border: 2pt solid;
    height: 40pt;
    flex: 2;
    text-align: center;
}

.grid-layout {
    display: grid;
    grid-template-columns: 5fr 4fr;
    gap: 15pt;
    margin-top: 10pt;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10pt;
}

.income-header {
    display: grid;
    grid-template-columns: 1fr 60pt 60pt;
    gap: 6pt;
    margin-top: 6pt;
    margin-bottom: 3pt;
    text-align: center;
    font-weight: bold;
}

.income-row {
    display: grid;
    grid-template-columns: auto 1fr 60pt 60pt;
    gap: 3pt;
    margin-bottom: 3pt;
}

.income-row div {
    align-content: end;
}

.grid-income {
    grid-template-columns: 1fr 60pt 60pt;
}

.grid-bills {
    grid-template-columns: 1fr 42pt 52pt 25pt;
}

.grid-spending {
    grid-template-columns: 1fr 52pt 52pt;
}

.grid-savings-goal,
.grid-extra-debts {
    grid-template-columns: 1fr 52pt;
}

.section-title {
    font-size: 13pt;
}

.section-header {
    margin-bottom: 3pt;
    text-align: center;
    letter-spacing: 1.0pt;
}

.row-items {
    margin-bottom: 3pt;
    align-items: center;
}

.section-footer {
    text-align: end;
    align-items: center;
}

.summary-box {
    border: 2pt solid;
    padding: 6pt;
}

.summary-box .section-title{
    font-weight: 900;
}

.box-due, 
.box-amount, 
.box-paid, 
.footer-box,
.line-grow {
    height: 22.1pt;
    border: 2pt solid;
}

.line-grow {
    border: none;
    border-bottom: 2pt solid;
}

.summary-row {
    display: grid;
    grid-template-columns: 1fr 80pt;
    gap: 6pt;
    margin-bottom: 3pt;
    text-align: right;
    font-weight: normal;
    align-items: center;
}

.summary-row:last-child {
    margin-bottom: 0pt;
}

.income-title {
    text-align: right;
    padding-right: 80pt;
}

.income-header div:nth-child(2) {
    padding-left: 8pt;
}

.month-header {
    display: flex;
        justify-content: space-between;
    }

    .section-footer.grid-bills {
        display: grid;
        grid-template-columns: auto 52pt 25pt;
    }

.section-footer.grid-spending {
    display: grid;
    grid-template-columns: auto 52pt;
}

.section-header,
.row-items,
.section-footer {
    display: grid;
    gap: 3pt;
    align-items: center;
}

.minus-text {
    font-weight: 700;
    font-size: 12pt;
    text-align: center;
}

.summary-row:last-child div {
    background-color: #E0E0E0;
}

.summary-row:nth-child(2), .summary-row:last-child {
    font-weight: bold;
}

.box-paid {
    height: 17pt; 
    width: 17pt;
    margin-left: 5pt;
}
